.footer {
  padding: 40px 0;
  background-color: #0a0f30;
  
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.logo-container {
  display: inline-block;
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
}

.footer-logo p {
  font-family: Wotfard, sans-serif;
  color: #fff;
  font-size: 0.9rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 15px 0;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Wotfard, sans-serif;
  font-size: 0.95rem;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgb(255 255 255 / 10%);
}

.social-link img {
  display: inline-block;
}

.social-link.telegram {
  color: #08c;
}

.social-link.instagram {
  color: #E1306C;
}

.social-link:hover {
  background-color: rgb(255 255 255 / 20%);
  transform: translateY(-2px);
}

.developer-link {
  font-family: Wotfard, sans-serif;
  color: #fcba29;
  font-size: 0.85rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.developer-link:hover {
  color: #fff;
}

.footer-info {
  display: flex;
  gap: 3rem;
}

.contact-info,
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Wotfard, sans-serif;
}

.contact-info h3,
.footer-links h3 {
  color: #fcba29;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
}

.info-item a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.info-item a:hover {
  color: #fcba29;
}

.hours-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hours-container p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ccc;
}

@media (width <= 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-logo {
    align-items: center;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .contact-info {
    align-items: center;
  }

  .info-item {
    justify-content: center;
  }

  .footer-links {
    align-items: center;
  }
}
