.service {
padding-top: 180px;
padding-bottom: 30px;

background-image: linear-gradient(
    0deg,
    hsl(232deg 66% 11%) 0%,
    hsl(228deg 69% 14%) 8%,
    hsl(227deg 68% 17%) 15%,
    hsl(226deg 68% 21%) 21%,
    hsl(226deg 69% 24%) 28%,
    hsl(225deg 69% 27%) 34%,
    hsl(225deg 69% 31%) 41%,
    hsl(224deg 70% 34%) 47%,
    hsl(224deg 70% 37%) 53%,
    hsl(224deg 71% 41%) 60%,
    hsl(223deg 71% 45%) 67%,
    hsl(223deg 71% 48%) 74%,
    hsl(223deg 77% 52%) 83%,
    hsl(223deg 90% 56%) 98%
  );
}

.service-wrapper {
    margin-top: 3rem;
}
.service-title {
    font-family: "Satoshi-Black";
    font-size: 3rem;
    color: #fff;
   
}